<!-- tabs -->
<div class="container">
    <!-- nav-tabs    -->
    <ul class="nav nav-tabs tabs-black" role="tablist">
        <li class="pull-right"><a href="#tab-help" role="tab" data-toggle="tab">HELP</a></li>
        <li class="active pull-right"><a href="#tab-agents" role="tab" data-toggle="tab">AGENTS</a></li>
        <li class="pull-right"><a href="#tab-my-cruise" role="tab" data-toggle="tab">MY CRUISE</a></li>
        <li class="pull-right"><a href="#tab-dashboard" role="tab" data-toggle="tab">DASHBOARD</a></li>
    </ul>
    <!-- tab-content -->
    <div class="tab-content">
        <div class="tab-pane" id="tab-dashboard">
        </div>
        <div class="tab-pane" id="tab-my-cruise">
        </div>
        <div class="tab-pane" id="tab-help">
        </div>
        <!-- tab-agents -->
        <div class="tab-pane active" id="tab-agents">
            <div class="row tab-header">
                <strong>Agents</strong>
                <button type="button" class="btn btn-default btn-ellipse">All</button>
                <button type="button" class="btn btn-default btn-ellipse active">Physical</button>
                <button type="button" class="btn btn-default btn-ellipse">Virtual</button>
            </div>
            <div class="row tab-body" ng-controller="AgentsListCtrl">
                <div class="tab-body-left col-md-9">
                    <div class="item" ng-repeat="agent in agents" ng-class="{'idle':'item-idle','building':'item-building'}[agent.type]">
                        <div class="item-icon"></div>
                        <div class="item-info">
                            <strong>{{agent.name}}</strong>
                            <span class="division">|</span>
                            <strong>{{agent.type}}</strong>
                            <span class="division">|</span>
                            <strong>{{agent.ip}}</strong>
                            <span class="division">|</span>
                            <strong>{{agent.path}}</strong>
                            <br>
                            <a href="#" class="add-resources" ng-click="addResources(agent.id)" id="add-resources-{{agent.id}}">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span>Specify Resources</span>
                            </a>
                            <span class="division">|</span>
                            <span>Resources:</span>
                            <span class="remove-resources" ng-repeat="resourse in agent.resources track by $index">
                                    {{resourse}}
                                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"
                                    ng-click="removeResources(agent.id,resourse)"></span>
                            </span>
                        </div>
                        <div class="item-deny">
                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            <a href="#">Deny</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="tab-body-right col-md-3">
                    <strong>Summary</strong>
                    <hr>
                    <ul>
                        <li ng-repeat="(key,value) in agents.typeSummary">
                            {{key}}
                            <span class="pull-right">{{value}}</span>
                        </li>
                    </ul>
                    <strong>History</strong>
                    <hr>
                    <ul>
                        <li ng-repeat="his in agents.history track by $index">{{his}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
