.bounding-box {
    position: absolute;
    min-height: 100px;
    border: 1px solid black;
    background-color: #E0EDD4;
    border-radius: 10px;
}

.bounding-box div.content > span,
input {
    display: block;
    margin-top: 5px;
    width: 100%;
}

.bounding-box div.content > button {
    margin: 5px;
    border-color: black;
    background-color: #DEDEDE;
}

.arrow * {
    display: block;
    border-width: 20px;
    position: absolute;
    font-size: 0;
    line-height: 0;
}

.up-arrow div.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -40px;
    left: 100px;
}

.up-arrow div.arrow em {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent black;
}

.up-arrow div.arrow span {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #E0EDD4;
    top: 1px;
}

.down-arrow div.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 98px;
    left: 100px;
}

.down-arrow div.arrow em {
    border-style: solid dashed dashed dashed;
    border-color: black transparent transparent;
}

.down-arrow div.arrow span {
    border-style: solid dashed dashed dashed;
    border-color: #E0EDD4 transparent transparent;
    top: -1px;
}

.popup-module-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: .2;
}